@use "./../abstract/variable" as var;
@use "./../base/typo";

@media screen and (max-width:(1100px)){
    header{
    }
}

@media screen and (max-width:(1100px)){
    header{
        >div{
            >ul{
                display: none;
            }
            ul{
                top: 16px;
                flex-direction: column;
                align-items: flex-end;
                li:nth-of-type(2){
                    display: none;
                }
            }
        }
        div{
            padding-bottom: 72px;
            #menuBurger{
                top: 60px;
                display: flex;
            }
        }
        nav{
            ul{
                flex-direction: column;
                justify-content: center;
                align-items: center;
                li:nth-of-type(5),li:nth-of-type(6),li:nth-of-type(8){
                    display: block;
                }
            }
        }
    }
}


@media screen and (max-width:(550px)){
    header{
        div{
            #menuBurger{
                top: 138px;
            }
            h1{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }
}