{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block main %}
    <main id="mainLegalnotices">
        <h2>Mentions légales</h2>

        <p><strong>Nom du site :</strong> Galerie Henri Matisse</p>
        <p><strong>Responsable de la publication :</strong> Matthys S. - Développeur web en formation</p>
        <p><strong>Email de contact :</strong> contact.galerie.henri.matisse@gmail.com </p>

        <h3><strong>Hébergement</strong><br></h3>
        <p>
        Ce site est hébergé par :<br>
        o2switch<br>
        222 Boulevard Gustave Flaubert<br>
        63000 Clermont-Ferrand<br>
        France<br>
        Téléphone : 04 44 44 60 40<br>
        Site : <a href="https://www.o2switch.fr" target="_blank">www.o2switch.fr</a>
        </p>
        

        <h3>Propriété intellectuelle</h3>
        <p>Les contenus (textes, images, photos, etc.) publiés sur le site "Galerie Henri Matisse" sont protégés par le droit d'auteur. Toute reproduction ou diffusion sans autorisation est interdite.</p>

        <h3>Utilisation du site</h3>
        <p>Ce site est proposé dans le cadre d'un projet de formation. Il ne collecte pas de données personnelles à but commercial.</p>
</main>
{% endblock %}
