{% extends 'base.html.twig' %}

{% block title %}Ajouter un événement{% endblock %}

{% block main %}
    <main id="mainGalleryAdd">
        <h1>Ajouter un événement</h1>
        <p>Remplisez les données demandés puis validez pour ajouter l'événement.
        {{ form_start(eventForm) }}
            {{ form_widget(eventForm)}}
            <button>Ajouter</button>
        {{ form_end(eventForm) }}
    </main>
{% endblock %}
