{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block main %}
    <main id="mainHome">
        <div id="hero-banner"></div>
        <section id="s-events">
            <h2>Évènements</h2>
            <div>
                <div id="events-left">
                    <div>
                        <div>
                            <img src="" alt="">
                            <h4>Titre du dernier évènement en date</h4>
                            <p>Phrase résumé de l'article en rapport avec le contenu de l'évènement prévu ou à venir à la date indiqué.</p>
                            <p>15/05/2025</p>
                        </div>
                    </div>
                    <div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                <div id="events-right">
                    <div></div>
                    <div></div>
                </div>
                <div></div>
            </div>
        </section>
        <section id="s-discover">
            <h2>Découvrez</h2>
            <a href="">
                <p>Cliquez pour voir la galerie</p>
            </a>
        </section>
    </main>
{% endblock %}
