* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}

@font-face {
  font-family: CormorantGaramond;
  src: url(../../fonts/Cormorant_Garamond/static/CormorantGaramond-Regular.ttf);
}
@font-face {
  font-family: Urbanist;
  src: url(../../fonts/Urbanist/static/Urbanist-Regular.ttf);
}
a, p, span {
  font-family: Urbanist;
}

h1, h2, h3 {
  font-family: CormorantGaramond;
  font-weight: light;
}

header {
  background-color: #f5f5f5;
}
header div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}
header div > a {
  display: inline-block;
  margin-left: 50%;
  transform: translateX(-50%);
}
header div > a h1 {
  font-size: 32px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: black;
}
header div > a h1 span {
  display: inline-block;
  width: 8px;
}
header div ul {
  margin-left: auto;
  display: flex;
}
header div ul li a {
  padding: 8px 8px;
  color: black;
  position: relative;
  letter-spacing: 1px;
}
header div ul li a:hover {
  font-weight: bold;
}
header div ul li a::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  height: 1px;
  width: 0;
  background-color: black;
  transition: 0.3s;
}
header div ul li a:hover::after {
  width: 80%;
}
header div ul li:nth-of-type(2) p {
  padding: 0px 8px;
  color: black;
}
header nav {
  padding: 16px 0px;
  border-bottom: 1px solid rgb(203, 203, 203);
}
header nav ul {
  display: flex;
  justify-content: center;
  gap: 16px;
}
header nav ul li a {
  letter-spacing: 1px;
  font-size: 18px;
  padding: 8px 16px;
  color: black;
  position: relative;
}
header nav ul li a:hover {
  font-weight: bold;
}
header nav ul li a::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  height: 1px;
  width: 0;
  background-color: black;
  transition: 0.3s;
}
header nav ul li a:hover::after {
  width: 80%;
}
header .active {
  font-weight: bold;
}

#mainHome #hero-banner {
  background-image: url("../../images/header/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  border-bottom: solid 1px rgb(203, 203, 203);
}
#mainHome #s-events {
  padding: 32px;
  background-color: #f5f5f5;
}
#mainHome #s-events h2 {
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 16px;
  padding-top: 64px;
  letter-spacing: 2px;
}
#mainHome #s-events .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto auto auto auto;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}
#mainHome #s-events .grid > a {
  all: unset;
  display: contents;
  cursor: pointer;
}
#mainHome #s-events .grid > a .div1 {
  grid-area: 1/1/2/3;
  height: 500px;
}
#mainHome #s-events .grid > a .div1 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
#mainHome #s-events .grid > a .div2 {
  grid-area: 2/1/3/3;
  height: 100px;
}
#mainHome #s-events .grid > a .div2 h4 {
  font-size: 26px;
  letter-spacing: 1px;
  font-family: CormorantGaramond;
}
#mainHome #s-events .grid > a .div2 p {
  font-size: 18px;
  font-family: Urbanist;
}
#mainHome #s-events .div3 {
  grid-area: 1/3/3/4;
  height: 616px;
}
#mainHome #s-events .div3 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
#mainHome #s-events .div4 {
  grid-area: 3/3/4/4;
  height: 100px;
}
#mainHome #s-events .div4 h4 {
  font-size: 26px;
  letter-spacing: 1px;
  font-family: CormorantGaramond;
}
#mainHome #s-events .div4 p {
  font-size: 18px;
  font-family: Urbanist;
}
#mainHome #s-events .div5 {
  grid-area: 3/1/5/2;
  height: 616px;
}
#mainHome #s-events .div5 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
#mainHome #s-events .div6 {
  grid-area: 5/1/6/2;
  height: 100px;
}
#mainHome #s-events .div6 h4 {
  font-size: 26px;
  letter-spacing: 1px;
  font-family: CormorantGaramond;
}
#mainHome #s-events .div6 p {
  font-size: 18px;
  font-family: Urbanist;
}
#mainHome #s-events .div7 {
  grid-area: 3/2/5/3;
  height: 616px;
}
#mainHome #s-events .div7 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
#mainHome #s-events .div8 {
  grid-area: 5/2/6/3;
  height: 100px;
}
#mainHome #s-events .div8 h4 {
  font-size: 26px;
  letter-spacing: 1px;
  font-family: CormorantGaramond;
}
#mainHome #s-events .div8 p {
  font-size: 18px;
  font-family: Urbanist;
}
#mainHome #s-events .div9 {
  grid-area: 4/3/6/4;
  height: 616px;
}
#mainHome #s-events .div9 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
#mainHome #s-events .div10 {
  grid-area: 6/3/7/4;
  height: 100px;
}
#mainHome #s-events .div10 h4 {
  font-size: 26px;
  letter-spacing: 1px;
  font-family: CormorantGaramond;
}
#mainHome #s-events .div10 p {
  font-size: 18px;
  font-family: Urbanist;
}
#mainHome #s-discover {
  padding: 32px;
  background-color: #f5f5f5;
}
#mainHome #s-discover h2 {
  font-size: 28px;
  text-transform: uppercase;
  padding-bottom: 16px;
  letter-spacing: 2px;
}
#mainHome #s-discover a {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../images/discover/discover-image.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#mainHome #s-discover a::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.35);
  width: 100%;
  height: 100%;
  z-index: 0;
}
#mainHome #s-discover a p {
  padding: 16px 32px;
  z-index: 2;
  color: white;
  font-family: Urbanist;
  letter-spacing: 1px;
  text-align: center;
  font-size: 32px;
  position: relative;
}
#mainHome #s-discover a p::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 12px;
  width: 0;
  height: 2px;
  background-color: white;
  transform: translateX(-50%);
  transition: 0.3s;
  z-index: 1;
}
#mainHome #s-discover a p:hover::after {
  width: calc(100% - 64px);
}

#mainGallery {
  background-color: #f5f5f5;
}
#mainGallery > p {
  display: none;
  text-align: center;
  width: 800px;
  padding-top: 32px;
  margin-left: 50%;
  transform: translateX(-50%);
}
#mainGallery #s-gallery {
  display: flex;
  padding: 32px;
  flex-wrap: wrap;
  justify-content: start;
  align-items: flex-start;
  gap: 8px;
}
#mainGallery #s-gallery a {
  width: calc(33.3333333333vw - 32px);
  height: 450px;
}
#mainGallery #s-gallery article {
  width: 100%;
  height: 100%;
}
#mainGallery #s-gallery article img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#mainEvents #s-events {
  padding: 32px;
  background-color: #f5f5f5;
}
#mainEvents #s-events > p {
  margin: auto;
  font-size: 18px;
  width: 80%;
  text-align: center;
  padding-bottom: 16px;
}
#mainEvents #s-events > a {
  margin: 32px;
  margin-left: 50%;
  transform: translateX(-50%);
}
#mainEvents #s-events div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
}
#mainEvents #s-events div article {
  border: solid 4px #f5f5f5;
  border-radius: 2px;
  display: flex;
  margin-bottom: 32px;
  padding: 16px;
  width: calc(100% - 40px);
  transition: 0.6s;
}
#mainEvents #s-events div article img {
  min-width: 400px;
  width: 400px;
  height: 350px;
  object-fit: contain;
}
#mainEvents #s-events div article div {
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#mainEvents #s-events div article div div:nth-of-type(1) h4 {
  font-size: 26px;
  font-family: CormorantGaramond;
  margin-bottom: 8px;
}
#mainEvents #s-events div article div div:nth-of-type(1) p {
  font-size: 18px;
  font-family: Urbanist;
  letter-spacing: 1px;
  margin-bottom: 8px;
}
#mainEvents #s-events div article div div:nth-of-type(2) {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 8px;
}
#mainEvents #s-events div article div div:nth-of-type(2) a:nth-of-type(1) {
  font-size: 16px;
  text-transform: capitalize;
  font-family: Urbanist;
  letter-spacing: 1px;
  padding: 8px 24px;
  border: 2px solid black;
  background-color: white;
  border-radius: 32px;
  color: black;
  transition: 0.2s;
  min-width: 98px;
  text-align: center;
  font-weight: bold;
}
#mainEvents #s-events div article div div:nth-of-type(2) a:nth-of-type(1):hover {
  background-color: black;
  color: white;
}
#mainEvents #s-events div article div div:nth-of-type(2) a:nth-of-type(2) {
  font-size: 16px;
  text-transform: capitalize;
  font-family: Urbanist;
  letter-spacing: 1px;
  padding: 8px 24px;
  border: 2px solid rgb(34, 101, 255);
  background-color: white;
  border-radius: 32px;
  color: rgb(0, 56, 186);
  transition: 0.2s;
  min-width: 98px;
  text-align: center;
  font-weight: bold;
}
#mainEvents #s-events div article div div:nth-of-type(2) a:nth-of-type(2):hover {
  background-color: rgb(34, 101, 255);
  color: white;
}
#mainEvents #s-events div article div div:nth-of-type(2) form input#delete {
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
  font-family: Urbanist;
  letter-spacing: 1px;
  padding: 8px 24px;
  border: 2px solid rgb(239, 32, 32);
  background-color: white;
  border-radius: 32px;
  color: rgb(159, 0, 0);
  transition: 0.2s;
  min-width: 150px;
  cursor: pointer;
}
#mainEvents #s-events div article div div:nth-of-type(2) form input#delete:hover {
  background-color: rgb(239, 32, 32);
  color: white;
}

#mainRegister {
  padding: 64px 32px;
  background-color: #f5f5f5;
}
#mainRegister form {
  margin: auto;
  width: 426px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-bottom: 16px;
}
#mainRegister form h1 {
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 24px;
  padding-bottom: 16px;
}
#mainRegister form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-bottom: 8px;
}
#mainRegister form div label {
  font-size: 18px;
  padding-bottom: 4px;
  padding-left: 4px;
  font-family: Urbanist;
  letter-spacing: 1px;
}
#mainRegister form div input {
  font-size: 16px;
  border-radius: 32px;
  border: solid 1px rgb(110, 110, 110);
  display: inline-block;
  width: 400px;
  padding: 8px 12px;
  font-family: Urbanist;
  letter-spacing: 1px;
}
#mainRegister form button {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 32px;
  border: solid 2px rgb(0, 0, 0);
  display: inline-block;
  width: 426px;
  padding: 8px 12px;
  cursor: pointer;
  font-family: Urbanist;
  transition: 0.2s;
}
#mainRegister form button:hover {
  color: white;
  background-color: black;
}
#mainRegister form p {
  padding-left: 8px;
  font-family: Urbanist;
  padding-top: 16px;
}
#mainRegister form p a {
  color: rgb(0, 56, 186);
  transition: 0.3s;
}
#mainRegister form p a:hover {
  text-decoration: underline solid 1px rgb(0, 56, 186);
}

#mainLogin {
  padding: 64px 32px;
  background-color: #f5f5f5;
  min-height: calc(100vh - 568px);
}
#mainLogin form {
  margin: auto;
  width: 426px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-bottom: 16px;
}
#mainLogin form h1 {
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 24px;
  padding-bottom: 16px;
}
#mainLogin form label {
  font-size: 18px;
  padding-bottom: 4px;
  padding-left: 4px;
  font-family: Urbanist;
  letter-spacing: 1px;
}
#mainLogin form input {
  font-size: 16px;
  border-radius: 32px;
  border: solid 1px rgb(110, 110, 110);
  display: inline-block;
  width: 400px;
  padding: 8px 12px;
  font-family: Urbanist;
  letter-spacing: 1px;
  margin-bottom: 8px;
}
#mainLogin form button {
  margin-top: 16px;
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 32px;
  border: solid 2px rgb(0, 0, 0);
  display: inline-block;
  width: 426px;
  padding: 8px 12px;
  cursor: pointer;
  font-family: Urbanist;
  transition: 0.2s;
}
#mainLogin form button:hover {
  color: white;
  background-color: black;
}
#mainLogin form p {
  padding-left: 8px;
  font-family: Urbanist;
  padding-top: 16px;
}
#mainLogin form p a {
  color: rgb(0, 56, 186);
  transition: 0.3s;
}
#mainLogin form p a:hover {
  text-decoration: underline solid 1px rgb(0, 56, 186);
}

#mainEventDetails {
  background-color: #f5f5f5;
  padding: 32px;
  min-height: calc(100vh - 504px);
}
#mainEventDetails article {
  margin-top: 48px;
  display: flex;
  justify-content: center;
}
#mainEventDetails article div:nth-of-type(1) img {
  max-width: 600px;
  max-height: 800px;
  object-fit: contain;
  margin-right: 32px;
}
#mainEventDetails article div:nth-of-type(2) {
  width: 600px;
}
#mainEventDetails article div:nth-of-type(2) h2 {
  font-size: 24px;
  letter-spacing: 1px;
}
#mainEventDetails article div:nth-of-type(2) p {
  font-family: Urbanist;
  letter-spacing: 0.5px;
  padding-top: 16px;
  font-size: 16px;
  line-height: 22px;
}
#mainEventDetails > div {
  width: 300px;
  border-bottom: solid 1px rgb(203, 203, 203);
  margin: 32px auto;
}
#mainEventDetails form {
  width: 426px;
  margin: auto;
}
#mainEventDetails form label {
  display: none;
}
#mainEventDetails form textarea {
  font-family: Urbanist;
  letter-spacing: 1px;
  width: 400px;
  border-radius: 16px;
  border: solid 1px rgb(110, 110, 110);
  font-size: 14px;
  padding: 16px 12px;
  min-height: 50px;
  margin-bottom: 16px;
}

#mainProfil {
  padding: 32px;
  background-color: #f5f5f5;
  min-height: 50vh;
}
#mainProfil #s-profil {
  display: flex;
}
#mainProfil #s-profil div:nth-of-type(1) {
  background-color: white;
  width: 200px;
  height: 250px;
  border: solid 1px rgb(203, 203, 203);
  margin-right: 32px;
}
#mainProfil #s-profil div:nth-of-type(2) {
  padding-top: 16px;
}
#mainProfil #s-profil div:nth-of-type(2) p {
  padding-bottom: 8px;
}
#mainProfil > div:nth-of-type(1) {
  margin: 32px auto;
  width: 300px;
  border-bottom: solid 1px rgb(203, 203, 203);
}
#mainProfil #s-gallery > a {
  margin-left: 50%;
  transform: translateX(-50%);
  display: inline-block;
}
#mainProfil #s-gallery #artworks {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
#mainProfil #s-gallery #artworks article {
  width: calc(33.3333333333% - 76px);
  height: 400px;
  min-width: 400px;
  position: relative;
}
#mainProfil #s-gallery #artworks article > a {
  transition: 0.2s;
}
#mainProfil #s-gallery #artworks article > a img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
#mainProfil #s-gallery #artworks article > div {
  position: absolute;
  bottom: 56px;
  left: 0px;
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#mainProfil #s-gallery #artworks article > div a {
  width: 98px;
  text-align: center;
  border: solid 2px rgb(34, 101, 255);
  color: rgb(0, 56, 186);
  text-transform: capitalize;
  padding: 8px 24px;
  border-radius: 32px;
  background-color: white;
  font-size: 16px;
  font-family: Urbanist;
  font-weight: bold;
  letter-spacing: 1px;
  transition: 0.2s;
}
#mainProfil #s-gallery #artworks article > div a:hover {
  color: white;
  background-color: rgb(34, 101, 255);
}
#mainProfil #s-gallery #artworks article > div input {
  width: 150px;
  border: solid 2px rgb(239, 32, 32);
  text-transform: capitalize;
  padding: 8px 24px;
  border-radius: 32px;
  background-color: white;
  color: rgb(159, 0, 0);
  font-size: 16px;
  font-family: Urbanist;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.2s;
}
#mainProfil #s-gallery #artworks article > div input:hover {
  background-color: rgb(239, 32, 32);
  color: white;
}

#mainAddArtwork, #mainEditArtwork {
  padding: 32px;
}
#mainAddArtwork form, #mainEditArtwork form {
  margin: auto;
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-bottom: 16px;
}
#mainAddArtwork form h2, #mainEditArtwork form h2 {
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 24px;
  padding-bottom: 16px;
}
#mainAddArtwork form p, #mainEditArtwork form p {
  font-family: Urbanist;
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 24px;
}
#mainAddArtwork form div label, #mainEditArtwork form div label {
  display: block;
  font-size: 18px;
  padding-left: 4px;
  font-family: Urbanist;
  letter-spacing: 1px;
}
#mainAddArtwork form div input, #mainEditArtwork form div input {
  margin-top: 4px;
  font-size: 16px;
  border-radius: 32px;
  border: solid 1px rgb(203, 203, 203);
  display: inline-block;
  width: 524px;
  padding: 8px 12px;
  font-family: Urbanist;
  letter-spacing: 1px;
  margin-bottom: 8px;
}
#mainAddArtwork form div textarea, #mainEditArtwork form div textarea {
  border: solid 1px rgb(203, 203, 203);
  margin-top: 4px;
  margin-bottom: 8px;
  width: calc(100% - 34px);
  min-height: 100px;
  border-radius: 18px;
  padding: 8px 16px;
  font-size: 16px;
  font-family: Urbanist;
  letter-spacing: 1px;
}
#mainAddArtwork button, #mainEditArtwork button {
  margin-top: 16px;
  width: 100%;
}

#mainInformations {
  padding: 32px;
  background-color: #f5f5f5;
}
#mainInformations h2 {
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 16px;
  padding-top: 64px;
  letter-spacing: 2px;
}
#mainInformations details {
  padding-bottom: 16px;
}
#mainInformations details summary {
  display: inline-block;
  font-size: 20px;
  font-family: Urbanist;
  font-weight: bold;
  padding: 8px;
  letter-spacing: 1px;
  cursor: pointer;
}
#mainInformations details p {
  padding: 8px;
  font-size: 18px;
  font-family: Urbanist;
  background: RGB(203, 203, 203);
  background: linear-gradient(90deg, rgb(203, 203, 203) 25%, rgb(245, 245, 245) 55%);
}
#mainInformations details p a {
  color: rgb(0, 56, 186);
  transition: 0.6s;
}
#mainInformations details p a:hover {
  text-decoration: underline solid 1px;
  transition: 0.6s;
}
#mainInformations details p span {
  font-weight: bold;
}

#mainArtworkDetails {
  padding: 32px;
  background-color: #f5f5f5;
}
#mainArtworkDetails h2 {
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 16px;
  letter-spacing: 2px;
}
#mainArtworkDetails > p:nth-of-type(1) {
  padding-bottom: 24px;
}
#mainArtworkDetails > p {
  font-size: 16px;
  font-family: Urbanist;
  letter-spacing: 1px;
}
#mainArtworkDetails > div.border {
  border-bottom: 1px solid rgb(203, 203, 203);
  width: 300px;
  margin: 32px auto;
}
#mainArtworkDetails #s-artworks {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 16px;
  gap: 12px;
}
#mainArtworkDetails #s-artworks article {
  width: calc(33.3333333333% - 8px);
  height: 500px;
  cursor: pointer;
}
#mainArtworkDetails #s-artworks article img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#mainArtworkDetails .lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
#mainArtworkDetails .lightbox img {
  max-width: 90%;
  max-height: 80%;
}
#mainArtworkDetails .lightbox .btn-close {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}
#mainArtworkDetails .lightbox.hidden {
  display: none;
}
#mainArtworkDetails #btn-prev {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  font-size: 40px;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  pad: 16px;
}
#mainArtworkDetails #btn-next {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  font-size: 40px;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  pad: 16px;
}

#mainContact {
  padding: 32px;
  background-color: #f5f5f5;
  min-height: calc(100vh - 568px);
}
#mainContact h2 {
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 24px;
  padding-bottom: 16px;
}
#mainContact form {
  margin: auto;
  width: 426px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-bottom: 16px;
}
#mainContact form label {
  font-size: 18px;
  padding-bottom: 4px;
  padding-left: 4px;
  font-family: Urbanist;
  letter-spacing: 1px;
}
#mainContact form input {
  font-size: 16px;
  border-radius: 32px;
  border: solid 1px rgb(110, 110, 110);
  display: inline-block;
  width: 400px;
  padding: 8px 12px;
  font-family: Urbanist;
  letter-spacing: 1px;
  margin-bottom: 8px;
}
#mainContact form textarea {
  width: 400px;
  border-radius: 16px;
  border: solid 1px rgb(110, 110, 110);
  font-size: 14px;
  padding: 16px 12px;
  min-height: 50px;
}
#mainContact form button {
  margin-top: 16px;
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 32px;
  border: solid 2px rgb(0, 0, 0);
  display: inline-block;
  width: 426px;
  padding: 8px 12px;
  cursor: pointer;
  font-family: Urbanist;
  transition: 0.2s;
}
#mainContact form button:hover {
  color: white;
  background-color: black;
}

.btn {
  background-color: white;
  text-align: center;
  color: black;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 32px;
  border: solid 2px rgb(0, 0, 0);
  display: inline-block;
  width: 426px;
  padding: 8px 12px;
  cursor: pointer;
  font-family: Urbanist;
  transition: 0.2s;
}
.btn:hover {
  color: white;
  background-color: black;
}

footer {
  height: 250px;
  background-color: black;
  padding: 32px;
}
footer h3 {
  font-size: 24px;
  letter-spacing: 4px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}
footer h3 span {
  display: inline-block;
  width: 8px;
}

/*# sourceMappingURL=style.css.map */
