{% extends 'base.html.twig' %}

{% block title %}Ajouter une oeuvre{% endblock %}

{% block main %}
    <main id="mainAddArtwork">
        {{ form_start(form) }}
            <h2>Ajouter une oeuvre à votre galerie</h2>
            <p>Remplisez les données demandés puis validez pour ajouter l'oeuvre.
            {{ form_widget(form)}}
            <button class="btn">Ajouter l'oeuvre</button>
        {{ form_end(form) }}
    </main>
{% endblock %}
