{% extends 'base.html.twig' %}

{% block title %}Modifier une oeuvre{% endblock %}

{% block main %}
    <main id="mainEditArtwork">
        {{ form_start(form) }}
            <h2>Modifier une oeuvre de votre galerie :</h2>
            <p>Modifiez les données demandés puis validez pour modifier l'oeuvre.</p>
            {{ form_widget(form)}}
            <button class="btn">Valider la modification</button>
        {{ form_end(form) }}
    </main>
{% endblock %}
