@font-face {
    font-family: CormorantGaramond;
    src: url(../../fonts/Cormorant_Garamond/static/CormorantGaramond-Regular.ttf);
}

@font-face {
    font-family: Urbanist;
    src: url(../../fonts/Urbanist/static/Urbanist-Regular.ttf);
}