{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block main %}
    <main id="mainContact">
        {{ form_start(form) }}
            <h2>Formulaire de contact :</h2>
            {{ form_widget(form)}}
        {{ form_end(form) }}
    </main>
{% endblock %}