<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ asset("css/style.css") }}">
    </head>
    <body>
    {% block header %}
        <header>
            <div>
                <a href="{{ path("app_home") }}">
                    <h1>Galerie <span></span> Henri <span></span> Matisse</h1>
                </a>
                <ul>
                    <li><a href="">CONNEXION</a></li>
                    <li><p>/</p></li>
                    <li><a href="">INSCRIPTION</a></li>
                    {# <li><a href="">DECONNEXION</a></li> #}
                </ul>
            </div>
            <nav>
                <ul>
                    <li><a href="{{ path("app_home") }}">ACCUEIL</a></li>
                    <li><a href="">INFORMATIONS</a></li>
                    <li><a href="">EVENEMENTS</a></li>
                    <li><a href="{{ path("app_gallery") }}">GALERIE</a></li>
                    {# <li><a href="">PROFIL</a></li> #}
                </ul>
            </nav>
        </header>
    {% endblock %}

    {% block main %}{% endblock %}

    {% block footer %}
        <footer>
            <h3>Galerie <span></span> Henri <span></span> Matisse</h3>
        </footer>
    {% endblock %}
    </body>
</html>
