{% extends 'base.html.twig' %}

{% block title %}Évènements{% endblock %}

{% block body %}
{% block main %}
<main id="mainEvents">
    <section id="s-events">
        <h2>Évènements</h2>
        <div>
            <div id="events-left">
                <div>
                    <div></div>
                </div>
                <div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div id="events-right">
                <div></div>
                <div></div>
            </div>
            <div></div>
        </div>
    </section>
    <section id="s-decouverte">
        <h2>Découvrez</h2>
        <a href="">
            <p>Cliquez pour voir la galerie</p>
        </a>
    </section>
</main>
{% endblock %}

{% block footer %}
<footer>
    <h3>Henri Matisse</h3>
</footer>
{% endblock %}
{% endblock %}
