@use "./../abstract/variable" as var;

header{
    background-color: var.$background-color;
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 16px;
        position: relative;
        >a{
            display: inline-block;
            margin: auto;
                // margin-left: 50%;
                // transform: translateX(-50%);
            h1{
                font-size: 32px;
                letter-spacing: 4px;
                text-transform: uppercase;
                color: black;
                span{
                    display: inline-block;
                    width: 8px;
                }
            }
        }
        ul{
            position: absolute;
            right: 16px;
            top: 24px;
            margin-left: auto;
            display: flex;
            li{
                a{
                    padding: 8px 8px;
                    color: black;
                    position: relative;
                    letter-spacing: 1px;
                    &:hover{
                        font-weight: bold;
                    }
                    &::after{
                        content: "";
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        bottom: 0;
                        height: 1px;
                        width: 0;
                        background-color: black;
                        transition: 0.3s;
                    }
                    &:hover::after{
                        width: 80%;
                    }
                }
            }
            li:nth-of-type(2){
                p{
                    padding: 0px 8px;
                    color: black;
                }
            }
        }
    }
    nav{
        padding: 16px 0px;
        border-bottom: 1px solid rgb(203, 203, 203);
        ul{
            display: flex;
            justify-content: center;
            gap: 16px;
            li{
                a{
                    letter-spacing: 1px;
                    font-size: 18px;
                    padding: 8px 16px;
                    color: black;
                    position: relative;
                    &:hover{
                        font-weight: bold;
                    }
                    &::after{
                        content: "";
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        bottom: 0;
                        height: 1px;
                        width: 0;
                        background-color: black;
                        transition: 0.3s;
                    }
                    &:hover::after{
                        width: 80%;
                    }
                }
            }
            li:nth-of-type(5),li:nth-of-type(6),li:nth-of-type(8){
                display: none;
            }
        }
    }
    .active{
        font-weight: bold;
    }
}